#home{
    background-image: url("../assests/images/exam.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}
    section{
        background-color:black;
        opacity: 0.6;
        height: 80%;
        width: 35%;
        margin-top: 50px;
        padding-left: 2rem;
        padding-right: 2rem;
        left: 20px;
    }
    .quizicon{
        color: green    ;
        font-size: 8rem;
        text-align: center;
    }
    h1{
        text-align: center;
        font-size: 3rem;
        color: linen;
    }

    .play-button-container{
        width: 100%;
        display: block;
    }

    a.paly-button{
       background-color: green;
       display: block;
       color: white;
       text-align: center;
       font-size: 30px;
       border-radius: 20px;
    }

    .auth-containers{
        width: 100%;
        display: flex;
        justify-content: space-around;
        color: white;
    }
    .auth-containers .auth-button{
        cursor: pointer;
        text-align: center;
        border-radius: 20px;
        text-align: center;
        font-size: 30px;
        color: white;
        justify-content: space-around;
        width: 50%;
    }

    #login-button{
      background-color:#0dc0db;
      color: white !important;   
    }

    #signup-button{
        background-color:#db1b0d;
        color: white !important;  
    }

    #login-button :hover{
       color: yellow;
      }

      #signup-button :hover{
        color: yellow;
      }

      .signupbtn{
          color: white;
      }



 