.instructions{
    background-color:wheat;
    border-radius: 5px;
    border: 1px solid darken($color:red, $amount: 10);
    margin-top: 10px;
    margin-bottom: 10px;
}

.lifeline{
   position: relative;
   top :-3px;
}
.lifeline-icons{
    color: red;
    cursor: pointer ; 
 }
 .img{
     width: 80%;
     height: 50%;
 }